doctype html
html(lang='ko')
  head
    title 안주현 - 이력을 다 담다.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
      background-color:#ff8c18;
      }
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      h1,h2,h3,h4,h5,h6,h7{
      color:black;
      text-align:center;      
      }
  
  body  
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') 안주현_리크루#딜
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/homeplus') 
              | 데이터를_다_담다#홈플러스
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | 브랜드를_다_담다#제주항공
              span.caret
            ul.dropdown-menu
              li
                a(href='/jejuair_2000') 2,000만 돌파 캠페인
              li
                a(href='/jejuair_parent') 어버이날 감사 캠페인
              li
                a(href='/jejuair_kimsoohyun') 김수현 래핑 항공기 캠페인
              li
                a(href='/jejuair_newflight') 신규 CI 항공기 도입
    .container-fluid
      h3(style='font-weight:bold') 어버이날 감사 캠페인
      legend
      h6 
      h6 안전하고 친근한 항공사의 가족적인 이미지가 필요했다.
      h6 승객과 적극적 소통을 위해 'JJ 연애조작단'을 론칭했다.
      h6 탑승객의 사연을 접수해서 소원을 들어주기로 했지만,
      h6 생각처럼 호응을 받지 못했고, 널리 알려지지 않았다.
      h6 드디어, 5월 어버이날을 맞아서 좋은 사연이 접수되었다.      
      div(style='position:relative;height:0;padding-bottom:56.25%')
        iframe(src='https://www.youtube.com/embed/kY27Q5SU0y4?ecver=2', width='640', height='360', frameborder='0', style='position:absolute;width:100%;height:100%;left:0', allowfullscreen='')
      br
      legend
      h6 어버이날 영상은 41만회의 조회를 기록했다.
      h6 'JJ 연애조작단'은 대표적 고객 창구가 되었고,
      h6 사연 신청은 월 1~2회에서 50건에 육박하기 시작했다.      
      h6
        a(href='http://www.hankyung.com/news/app/newsview.php?aid=201705083075g') "어버이날 이벤트 전통" → 기사보기
      h6 .
      h6 .
      h4(style='font-weight:bold') "어버이날 캠페인은 전통이 되었다"
      legend
      h6 마케팅 기획 : 안주현      
      h6 영상 기획 : 안주현
      h6 영상 촬영 현장 컨트롤 : 안주현
      h6 영상 콘티 제작 : 디자인 헌터스
      h6 영상 촬영 및 편집 : 디자인 헌터스, 안주현   
      h6 광고 매체 및 집행 : 유튜브, 애드미션