doctype html
html(lang='ko')
  head
    title 안주현 - 이력을 다 담다.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
      background-color:#ff8c18;
      }
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      h1,h2,h3,h4,h5,h6,h7{
      color:black;
      text-align:center;      
      }
  
  body  
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') 안주현_리크루#딜
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | 데이터를_다_담다#홈플러스
              span.caret
            ul.dropdown-menu
              li
                a(href='/homeplus_A') /homeplus_A
              li
                a(href='/homeplus_B') /homeplus_B
              li
                a(href='/homeplus_C') /homeplus_C
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | 브랜드를_다_담다#제주항공
              span.caret
            ul.dropdown-menu
              li
                a(href='/jejuair_2000') 2,000만 돌파 캠페인
              li
                a(href='/jejuair_parent') 어버이날 감사 캠페인
              li
                a(href='/jejuair_kimsoohyun') 김수현 래핑 항공기 캠페인
              li
                a(href='/jejuair_newflight') 신규 CI 항공기 도입
    .container-fluid
      h3(style='font-weight:bold') 탑승객 2,000만 돌파 캠페인
      legend
      h6 대한민국 국민의 절반의 선택을 받은 제주항공은
      h6 "고객으로부터 받은 오렌지빛 감사(orange shine)"를
      h6 "다시 오렌지빛 선물(orange Shine)로 보답하고 싶었다."
      h6 우리는 '빛'(Shine)을 은유하고 이용하기로 했다.
      h6 '빛'에 반응하는 잉크로 오렌지샤인 QR 코드를 제작했고,
      h6 'SOCAR'와 제휴하여, 15대의 FIAT의 유리에 부착했다.             
      div(style='position:relative;height:0;padding-bottom:56.25%')
        iframe(src='https://www.youtube.com/embed/xHRM3yGH-0o?ecver=2', width='640', height='360', frameborder='0', style='position:absolute;width:100%;height:100%;left:0', allowfullscreen='')
      br
      legend
      h6 QR 코드가 부착된 FIAT는 12일간 서울을 누볐다.
      h6 그 기간동안 모두 56명이 차량을 임대했다.
      h6 이 활동을 통해서 총 2만 8,600명이 참여했고,
      h6 22,667명이 쿠폰을 발급받고, 그 중 1.5%가 사용했다.
      h6 제주항공 APP은 6,100여건 다운로드가 되었으며,
      h6 그 고객으로부터 8,500만원의 매출이 발생되었다..
      h6 그 해에 좋은 SNS 마케팅 사례로 기록되었다.
      h6
        a(href='http://www.ccdailynews.com/news/articleView.html?idxno=703669') "오렌지샤인 이벤트 반응 뜨거워" → 기사보기
      h6 .
      h6 .
      h4(style='font-weight:bold') "그리고 광고는 전혀 집행하지 않았다."
      legend
      h6 마케팅 기획 : 안주현
      h6 UV 변색 QR 코드 기획 : 안주현
      h6 마케팅 제휴 : 안주현, SOCAR
      h6 프로모션 페이지 기획 : 안주현
      h6 프로모션 디자인 및 개발 : 제주항공      
      h6 영상 기획 : 안주현
      h6 영상 콘티 제작 : 맹수진 PD
      h6 영상 촬영 및 편집 : 맹수진 PD        