doctype html
html(lang='ko')
  head
    title 안주현 - 이력을 다 담다.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
      background-color:#ff8c18;
      }
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      h1,h2,h3,h4,h5,h6,h7{
      color:black;
      text-align:center;
      }
  
  body  
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') 안주현_리크루#딜
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | 데이터를_다_담다#홈플러스
              span.caret
            ul.dropdown-menu
              li
                a(href='/homeplus_A') /homeplus_A
              li
                a(href='/homeplus_B') /homeplus_B
              li
                a(href='/homeplus_C') /homeplus_C
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | 브랜드를_다_담다#제주항공
              span.caret
            ul.dropdown-menu
              li
                a(href='/jejuair_2000') 2,000만 돌파 캠페인
              li
                a(href='/jejuair_parent') 어버이날 감사 캠페인
              li
                a(href='/jejuair_kimsoohyun') 김수현 래핑 항공기 캠페인
              li
                a(href='/jejuair_newflight') 신규 CI 항공기 도입
    .container-fluid
      h3(style='font-weight:bold') 김수현 래핑 항공기 캠페인
      legend
      h6 땅콩리턴사건에 대비해 친근한 이미지를 주고자,
      h6 2015년도 제주항공은 김수현을 모델로 선정했다.      
      h6 광저우 격납고에서 김수현 얼굴을 항공기 외부에 부착했다.      
      div(style='position:relative;height:0;padding-bottom:56.25%')
        iframe(src='https://www.youtube.com/embed/EPs2vp-WCu0?ecver=2', width='640', height='360', frameborder='0', style='position:absolute;width:100%;height:100%;left:0', allowfullscreen='')
      br
      legend
      h6 제주항공은 일본을 가장 많이 취항한 저비용 항공사였고,
      h6 모바일 APP을 리뉴얼해서 새롭게 론칭한 시기였으며,
      h6 인천 공항에서는 무인발급기(kiosk)가 서비스 된 시기였다.
      h6 김수현 일본 팬미팅을 빌미로 래핑 항공기에 태우기로 했다.
      h6 인천공항에서 PR 행사를 진행했고, 공항은 마비가 되었다.
      h6 일본공항에서 PR 행사를 진행했고, 공항은 마비가 되었다. 
      h6 그리고 영상은 2일동안 78만회가 조회되었다.
      h6
        a(href='http://news.heraldcorp.com/view.php?ud=20150826000149&md=20150826085236_BL') "한류스타 마케팅 통했다" → 기사보기      
      div(style='position:relative;height:0;padding-bottom:56.25%')
        iframe(src='https://www.youtube.com/embed/LbK1SQGkD0s?ecver=2', width='640', height='360', frameborder='0', style='position:absolute;width:100%;height:100%;left:0', allowfullscreen='')
      br  
      legend
      h6 옥외 광고 크리에이티브 : 안주현
      h6 옥외 광고 촬영 및 제작 : 한컴
      h6 옥외 광고 인쇄 및 출력 : AD-works
      h6 항공기 광고 부착 : 안주현, AD-works, STAG 광저우
      h6 APP/kiosk 론칭 마케팅 기획 : 안주현
      h6 영상 크리에이티브 기획 : 안주현
      h6 엔터테인먼트 협의 : 안주현, 키이스트
      h6 영상 촬영 및 편집 : 키이스트
      h6 광고 매체 및 집행 : 유튜브, 애드미션