doctype html
html(lang='ko')
  head
    title 안주현 - 이력을 다 담다.
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')    
    style. 
      body{        
      background-color:#ff8c18;
      }
      .container-fluid{
      margin-top:50px;
      padding-left:0px;
      padding-right:0px;
      }
      h1,h2,h3,h4,h5,h6,h7{
      color:black;
      text-align:center;      
      }
  
  body  
    nav.navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar      
        a.navbar-brand(href='/') 안주현_리크루#딜
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href='/homeplus') 
              | 데이터를_다_담다#홈플러스
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | 브랜드를_다_담다#제주항공
              span.caret
            ul.dropdown-menu
              li
                a(href='/jejuair_2000') 2,000만 돌파 캠페인
              li
                a(href='/jejuair_parent') 어버이날 감사 캠페인
              li
                a(href='/jejuair_kimsoohyun') 김수현 래핑 항공기 캠페인
              li
                a(href='/jejuair_newflight') 신규 CI 항공기 도입
    .container-fluid
      h3(style='font-weight:bold') 신규 CI 항공기 도입
      legend
      h6 기존 컬러와 로고는 지난 10년동안 많이 낡고 바랬다.
      h6 그리고, 창립 10주년이 지났고 코스피 상장이 코앞이다.
      h6 드디어 새로운 옷을 입어야 할 때가 되었다.
      div(style='position:relative;height:0;padding-bottom:56.25%')
        iframe(src='https://www.youtube.com/embed/JexU7brjsUo?ecver=2', width='640', height='360', frameborder='0', style='position:absolute;width:100%;height:100%;left:0', allowfullscreen='')
      br
      legend
      h6 한국 브랜드디자인 학회의 컨설팅을 받았다.
      h6 애경 디자인센터와 한양대 디자인대학원이 합류했고,
      h6 그룹 회장단을 설득하는데 반년이 걸렸으며,
      h6 TFT가 꾸려지고 교육을 받는데 또 반년이 걸렸다.
      h6 고객접점구역(항공기,카운터,홈페이지)이 우선 교체하고,
      h6 외부와 내부에 론칭 세레모니를 진행했다.
      h6 그러나 17년 현재까지도 계속 교체되고 있다
      h6
        a(href='http://biz.khan.co.kr/khan_art_view.html?artid=201509211622451&code=920509') "새 BI 공개" → 기사보기
      h6 .
      h6 .
      h4(style='font-weight:bold') "베스트셀링 디자인상을 수상했다(16)"
      legend
      h6 컨설팅 업체 선정 : 애경그룹 회장단
      h6 TFT 컨소시엄 : 애경디자인센터, 한양대 디자인 대학원
      h6 New CI 개발/교체 프로젝트 실행 PM : 안주현      
      h6 항공기 도면 개발 및 적용 : 안주현, DUBLIN aviation
      h6 마케팅 기획 : 안주현
      h6 영상 기획 및 개발 : PLUS-EX 허승원